<div id="homeView" class="content-padded">
    <div id="countdownContainer"></div>


    {{#if isAuth}}
        <div id="uploadPhotoFrame"><p>UPLOAD PHOTOS</p></div>

        <button id="cameraBtn" class="btn btn-primary btn-block">TAKE PHOTO</button>
    {{else}}
        <div class="content-padded">
            <h4 class="content-padded">Please enter authentication key to upload photos</h4>
            <form id="authForm">
              <input id="authInputKey" type="text" placeholder="Enter auth key">
              <button id="authBtn" class="btn btn-positive btn-block">Authenticate</button>
            </form>
        </div>
    {{/if}}
</div>
