<div id="homeView" class="content-padded">
    <div id="countdownContainer"></div>


    <div id="uploadPhotoFrame"><p>UPLOAD PHOTOS</p></div>

    <button id="cameraBtn" class="btn btn-primary btn-block">TAKE PHOTO</button>
</div>
