<div id="teamsView">

    <h2>TeamsView placeholder</h2>

    <p class="content-padded">Team 1</p>
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="push-right" href="#">
                    <strong>Bio</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a href="#" class="push-right">
                    <strong>Pictures</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a href="#" class="push-right">
                    <strong>Films</strong>
                </a>
            </li>
        </ul>
    </div>

    <p class="content-padded">Team 2</p>
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="push-right" href="#">
                    <strong>Bio</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a href="#" class="push-right">
                    <strong>Pictures</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a href="#" class="push-right">
                    <strong>Films</strong>
                </a>
            </li>
        </ul>
    </div>
</div>
