$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fontPath: "../fonts/";

//@import 'sass-bootstrap/lib/bootstrap';

@import '../bower_components/ratchet/dist/css/ratchet.css';
@import './_countdown.scss';
@import './_phonegap.scss';
@import './_ratchetCustomizations.scss';

// gallery styles
#galleryViewContainer {
    background-color: #000;
    width: 100%;
    height: 100%;
}
.galleryPhoto {
    float: left;
    margin: 2px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
