.form-label {
    font-size: 20px;
}

input[type="date"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    color: #474747;
    height: 28px;
}

input[type="time"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    color: #474747;
    height: 28px;
}
